@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  z-index: 1;
}

.trial_moving_animation {
  animation: moving 10s linear infinite;
}

@keyframes moving {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
